// Colours
$white-bg-colour: white;
$black-bg-colour: black;
$white-font-colour: white;
$body-bg-colour: #B6C2D9;
$nav-bg-colour: #828489;
$transparent-colour: transparent;
$line-height: 70px;


//Sizes
$small: 400px;
$medium: 560px;
$large: 900px;