@mixin body-font {
    font-family: 'Roboto', sans-serif;
}
@mixin heading-font {
    font-family:     'Poppins', sans-serif;
}




@mixin clearfix {
    &:after {
      content:"";
      display:table;
      clear:both;
    }

}