@charset "UTF-8";
/* CSS Document */
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/
/* Skeleton Grid */
/* Grid
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 100%;
    padding: 0; } }
/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 100%; }

  .column,
  .columns {
    margin-left: 4%; }

  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns {
    width: 4.66666666667%; }

  .two.columns {
    width: 13.3333333333%; }

  .three.columns {
    width: 22%; }

  .four.columns {
    width: 30.6666666667%; }

  .five.columns {
    width: 39.3333333333%; }

  .six.columns {
    width: 48%; }

  .seven.columns {
    width: 56.6666666667%; }

  .eight.columns {
    width: 65.3333333333%; }

  .nine.columns {
    width: 74.0%; }

  .ten.columns {
    width: 82.6666666667%; }

  .eleven.columns {
    width: 91.3333333333%; }

  .twelve.columns {
    width: 100%;
    margin-left: 0; }

  .one-third.column {
    width: 30.6666666667%; }

  .two-thirds.column {
    width: 65.3333333333%; }

  .one-half.column {
    width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%; }

  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%; }

  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%; }

  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%; }

  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%; }

  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%; }

  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%; }

  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%; }

  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%; }

  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%; }

  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%; }

  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%; } }
/* Clearing
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

header {
  background-color: #828489;
  height: 70px;
  margin-top: -20px;
  margin-left: 0;
  margin-right: 0; }
  header .container {
    background-color: #828489;
    padding: 0 40px; }
  header a {
    color: white;
    text-decoration: none; }
    header a:hover, header a:active, header a:focus {
      color: white; }
  header h1 {
    margin-bottom: 0; }
    header h1 a {
      margin: 0;
      line-height: 70px;
      font-size: 2rem;
      float: left; }
  header nav {
    float: right;
    width: 600px; }
    header nav ul {
      list-style: none;
      margin: 0;
      padding: 0; }
    header nav a {
      float: left;
      text-decoration: none;
      width: 20%;
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
      line-height: 70px; }
      header nav a:hover, header nav a:active, header nav a:focus {
        color: white;
        background-color: rgba(255, 255, 255, 0.3);
        text-decoration: none; }

.btn-menu {
  display: none;
  font-weight: bold; }

.navigation {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  width: 200px;
  background-color: #828489;
  float: left;
  margin: 15px;
  position: inherit;
  max-height: 500px;
  max-width: 300px;
  filter: sepia(50%);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center; }

.mainmenu, .submenu {
  list-style: none;
  margin-left: -15px;
  margin-right: 20px; }

.mainmenu a {
  display: block;
  background-color: #828489;
  margin-bottom: 0px;
  text-decoration: none;
  padding: 10px;
  color: white;
  margin-left: 0px; }

.mainmenu a:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.3); }

.mainmenu li:hover .submenu {
  display: block;
  max-height: 100px; }

.drop-menu {
  position: relative;
  margin: 0 auto;
  padding: 0; }

.drop-menu > a {
  position: absolute;
  z-index: 2;
  display: block;
  padding: 0 1em;
  height: 3em;
  line-height: 2.25em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
  color: #555; }

.drop-menu > a:after {
  content: "";
  position: relative;
  top: 11px;
  left: 6px;
  height: 0;
  width: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #555; }

.drop-menu.active ul {
  display: block !important; }

.drop-menu ul {
  z-index: 1;
  position: absolute;
  top: -4px;
  left: 0;
  margin: 0;
  padding: 3em 0 1em;
  /*width: 100%;*/
  list-style: none;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.45); }

.drop-menu ul li:first-child {
  border-top: 1px solid #e9e9e9; }

.drop-menu li a {
  color: #555;
  display: block;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none; }

.drop-menu li a:hover {
  background: #155FB0;
  color: #fff;
  text-decoration: none; }

section {
  padding: 30px; }
  section h1 {
    text-align: justify;
    margin-bottom: 2rem; }
  section p {
    text-align: justify; }
  section article h1 {
    text-align: center; }

.bottom-banner {
  background-color: white;
  padding: 0;
  margin-bottom: -4px;
  margin-top: 0; }
  .bottom-banner p {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    padding: 50px; }
  .bottom-banner a {
    color: white;
    display: block;
    background-color: #828489;
    padding: 0px 40px;
    width: 200px;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 0 auto; }

.mid-banner {
  position: relative; }
  .mid-banner h2 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem; }

.top-banner {
  padding: 70px 0;
  position: relative; }
  .top-banner h2 {
    font-size: 4rem;
    text-align: center;
    line-height: 1.2; }
  .top-banner p {
    font-size: 2rem;
    text-align: center;
    line-height: 1.2;
    margin: 0; }

@media screen and (max-width: 900px) {
  /* responsive navigation */
  .btn-menu {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    color: white;
    text-transform: uppercase;
    float: right;
    line-height: 75px; }
    .btn-menu:focus {
      outline: 1px solid rgba(255, 255, 255, 0.3); }

  header nav {
    display: none;
    width: 100%;
    float: none;
    clear: both;
    background-color: #828489; }
    header nav a {
      float: none;
      display: block;
      line-height: 40px;
      text-align: center;
      width: 100%; }

  .show header {
    height: auto; }
    .show header nav {
      display: block; }

  /* top banner */
  .top-banner {
    padding: 10vw 0; }
    .top-banner h2 {
      font-size: 7vw; }
    .top-banner p {
      font-size: 3.5vw; }

  .mid-banner h2 {
    font-size: 7vw; }

  .bottom-banner {
    padding: 30px; } }
@media screen and (max-width: 560px) {
  header {
    height: 70px; }
    header h1 a {
      line-height: 70px;
      font-size: 2.5rem; }

  .btn-menu {
    line-height: 70px;
    font-size: 1.2rem; } }
@media screen and (max-width: 400px) {
  section {
    padding: 20px; }

  header .container {
    padding: 0 20px; }

  header h1 a {
    margin: 0;
    font-size: 24px;
    float: left; }

  .bottom-banner {
    display: none; }

  footer h2, footer p {
    text-align: center; }
  footer .row .list {
    text-align: center  !important; }

  .drop-down {
    display: block; }

  .navigation {
    display: none; }

  body h1 {
    font-size: 18px; }
  body p {
    font-size: 16px; }

  main ul {
    display: block  !important; } }
.contact {
  max-width: 500px;
  width: 100%;
  margin: 10px auto;
  position: relative; }

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
  background: #F9F9F9;
  padding: 0;
  margin: 0;
  width: 100%; }

#contact h3 {
  color: #696969;
  display: block;
  font-size: 30px;
  font-weight: 400;
  text-align: center; }

#contact h4 {
  text-align: center;
  margin: 5px 0 15px;
  display: block;
  font-size: 13px; }

fieldset {
  border: medium none !important;
  margin: 0 10px;
  width: 90%;
  padding: 5px; }

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact textarea {
  width: 100%;
  border: 1px solid #CCC;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px; }

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA; }

#contact textarea {
  height: 100px;
  resize: none; }

#contact button[type="submit"] {
  cursor: pointer;
  width: 105%;
  border: none;
  background: #a6a6a6;
  color: #FFF;
  display: block;
  height: 45px;
  text-align: center;
  font-size: 15px; }

#contact button[type="submit"]:hover {
  background: #4d4d4d;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out; }

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline: 0;
  border: 1px solid #999; }

footer {
  background-color: #828489;
  color: white;
  padding: 30px;
  margin-top: 0px;
  margin-bottom: -10px; }
  footer .row {
    width: 100%; }
    footer .row .list {
      display: block;
      text-align: left;
      margin: 15px 25px; }
  footer a {
    color: white;
    text-decoration: none; }
    footer a:hover, footer a:active, footer a:focus {
      color: white; }

img {
  max-width: 100%;
  height: auto; }

.container {
  max-width: 90%;
  background-color: white;
  padding: 0; }

body {
  font-family: 'Karla', sans-serif;
  background-color: #B6C2D9;
  margin: 0; }

h1, h2, h3, nav a {
  font-family: 'Montserrat', sans-serif; }

nav .drop-down {
  list-style: none;
  overflow: hidden;
  /* When ul height is reduced, ensure overflowing li are not shown */
  height: auto;
  /* 172px = (38 (li) + 5 (li border)) * 4 (number of li) */
  background-color: #34495e;
  font-family: Arial;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease; }

nav .drop-down.closed {
  /*  When toggled via jQuery this class will reduce the height of the ul which inconjuction
      with overflow: hidden set on the ul will hide all list items apart from the first */
  /* current li height 38px + 5px border */
  height: 43px;
  display: none; }

nav .drop-down li {
  border-bottom: 5px solid #2c3e50; }

nav .drop-down li a {
  display: block;
  color: #ecf0f1;
  text-decoration: none;
  padding: 10px;
  /* Larger touch target area */ }

nav .drop-down li:first-child a:after {
  content: "\25BC";
  float: right;
  margin-left: -30px;
  /* Excessive -margin to bring link text back to center */
  margin-right: 5px; }

/*# sourceMappingURL=styles.css.map */
